node_modules
*/node_modules/
.idea
.env
frontend/.env
frontend/.env.local
frontend/.env.production.local
backend/.env

# Build outputs
build/
dist/
frontend/build/

#Hardhat files
cache
artifacts

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db
